.hero {

  &__content {
    min-height: 455px;
    overflow: hidden;
    border-radius: 10px;
    background: var(--alice-blue);

    @include tablet {
      flex-direction: column;
    }
  }

  &__left {
    padding: 102px 72px;
    width: 50.6%;

    @include desktop {
      padding: 105px 72px;
      width: 50%;
    }

    @include tablet {
      padding: 24px;
      width: 100%;
    }

    @include mobile {
      padding-bottom: 18px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 160%;
    color: var(--primary);

    @include desktop {
      font-size: 26px;
    }

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      margin-bottom: 14px;
      font-size: 17px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 36px;
    max-width: 511px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    color: var(--secondary);

    @include tablet {
      margin-bottom: 24px;
      width: 100%;
      font-size: 15px;
    }

    @include mobile {
      margin-bottom: 18px;
      font-size: 13px;
    }
  }

  &__button {
    width: 341px;

    @include desktop {
      position: relative;
      z-index: 10;
    }

    @include tablet {
      width: 261px;
    }

    @include mobile {
      width: 100%;
    }

    svg {
      width: 44px;
      height: 44px;

      path {
        stroke: var(--dark-blue);
        transition: stroke 0.3s ease-in-out;
      }

      @include tablet {
        width: 36px;
        height: 36px;
      }
    }
  }
}
